@import './variables.scss';

.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    .card{
        box-shadow: 9px 13px 65px -27px rgba(0,0,0,0.71);
    }
    .see-details{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $black;
            border-radius:5px;
            border: none;
            background-color: $light-green;

        &:hover{
            background-color: $dark-green;
        }
    }
}
